<div class="your_likes">
<h2>Your likes</h2>
<% if @my_likes.empty? %>
	<p>No Likes :(</p>
<% else %>
	<% @my_likes.each do |like| %>
	<div class="like">
		<div class="photo"><img src="http://graph.facebook.com/<%= like.id %>/picture" height="50" width="50"></div>
		<div class="details"><h4><%= like.name %></h4></div>
	</div>
	<% end %>
<% end %>
</div>
<div class="shared_likes">
<h2>Shared likes</h2>
<% if @likes.empty? %>
	<p>No Shared Likes :(</p>
<% else %>
	<% @likes.each do |like| %>
	<div class="like">
		<div class="photo"><img src="http://graph.facebook.com/<%= like[1].id %>/picture" height="50" width="50"></div>
		<div class="details"><h4><%= like[1].name %></h4></div>
	</div>
	<% end %>
<% end %>
</div>
<div class="their_likes">
<h2>Their likes</h2>
<% if @friend_likes.empty? %>
	<p>No Likes :(</p>
<% else %>
	<% @friend_likes.each do |like| %>
	<div class="like">
		<div class="photo"><img src="http://graph.facebook.com/<%= like.id %>/picture" height="50" width="50"></div>
		<div class="details"><h4><%= like.name %></h4></div>
	</div>
	<% end %>
<% end %>
</div>
